*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    transition-property: height,width;
    transition-duration:1s ;
    transition-timing-function: linear;

    
    background-color: aqua;
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 20px;
    h2{
        background-color: bisque;
        height:72px;
    }
}
@media(800px<=width<=100px){
    .parent{
        background-color: black;
        height:800px;
        width:800px;
        h2{
            background-color: black;
        }
    }
}
@media(280px<=width<=400px){
    .parent{
        height:150px;
        width:150px;
    }
}